*
{
	box-sizing: border-box;
}
h1{
	font-style: italic;
	text-align: center;
	font-family: sans-serif;
	text-transform: uppercase;
}

.first,.second,.third
{   
	width:50%;
	background-color: #7FDBFF;
	border:2px solid black;
	height: 200px;
	padding: 0px;


}
#one,#two,#three
{ padding-top: 5px;
	background-color: red;
	margin: 0px;
	border-style: solid;
	display: inline;
	float: right;

}
.ad
{  font-size: 17px;
	font-style: italic;
	height:auto;
clear: both;
}
@media (min-width: 992px) {
   .col-lg-4 {
    float: left;
    border: 1px solid green;
  }
  
  .col-lg-4 {
    width: 33.33%;
  }
  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    border: 1px solid green;
  }
 
  .col-md-6 {
    width: 50%;
  }
  
}
@media(max-width:767px )
{
	 .col-sm-12 {
    float: left;
    border: 1px solid green;
  }
  

   .col-sm-12 {
    width: 100%;
  }


  }
